name: build

on: [push, pull_request]

jobs:
  windows-msvc:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
            arch: x64
            target_arch: x86_64
    
    name: windows-msvc-${{ matrix.target_arch }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      
      - uses: lukka/get-cmake@latest

      - uses: TheMrMilchmann/setup-msvc-dev@v4
        with:
          arch: ${{ matrix.arch }}

      - name: Build
        shell: cmd
        run: |
          cmake -B build
          cmake --build build --config Release

      - name: Tests
        shell: cmd
        continue-on-error: true # When tests start passing, this line should be removed.
        run: |
          .\build\ps2xTest\Release\ps2x_tests.exe
      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: PS2Recomp - Windows
          path: |
            build/ps2xAnalyzer/Release/*.exe
            build/ps2xRecomp/Release/*.exe
            build/ps2xTest/Release/*.exe

  linux-gcc-clang:
    strategy:
      fail-fast: false
      matrix:
        include:
          - compiler: gcc
            cc: gcc
            cxx: g++
          - compiler: clang
            cc: clang
            cxx: clang++

    name: linux-${{ matrix.compiler }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            build-essential \
            cmake \
            ninja-build \
            clang \
            pkg-config \
            libx11-dev \
            libxrandr-dev \
            libxinerama-dev \
            libxcursor-dev \
            libxi-dev \
            libgl1-mesa-dev

      - name: Configure
        env:
          CC: ${{ matrix.cc }}
          CXX: ${{ matrix.cxx }}
        run: |
          cmake -S . -B build -G Ninja -DCMAKE_BUILD_TYPE=Release

      - name: Build
        run: |
          cmake --build build --config Release
